th,
table, td {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  max-width: 50%;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  text-wrap: wrap;
}
.container1 {
  width: 85%;
  margin: auto;
  padding: 10px;
  background-color: rgb(247, 199, 141);
}